* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    height: 60px;
    width: 100%;
    color: white;
    background-color: #ff6900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: 0 3px 2px -2px gray;
}

.categories-header, .logo., .icons-header {
    width: calc(100% / 3);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a {
    text-decoration: none;
}

li {
    color: white;
    padding-right: 10px;
    font-weight: bold;

}

.logo-boolando img {
    width: 140px;
}

a i {
    color: white;
    padding-right: 13px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    width: calc(97% / 3);
    position: relative;
    margin-bottom: 100px;
}

.product:hover .secondary-img {
    display: block;
}

.product:hover .primary-img {
    display: none;
}

.product img {
    width: 100%;
}

.heart {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.heart:hover {
    color: red;
}

.tags-container {
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0px;
}

.discount {
    width: 15%;
    background-color: red;
}

.sostenibile {
    width: 25%;
    background-color: #008000;
   
}

.discount, .sostenibile {
    text-align: center;
    line-height: 20px;
    float: left;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 1px;
}

.product-info {
    position: absolute;
    top:100%;
}

.brand {
    font-size: 13px;
}

h3 {
}

.discounted-price {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.full-price {
    text-decoration: line-through;
}

.discounted-price, .full-price {
    font-size: 14px;
}

/* margin aggiunto per impedire alla seconda immagine di muoversi sull'hover */

.secondary-img {
    display: none;
    margin-bottom: 4px;
}


/* debug rules */

/* fine debug rules */


